body {
    display: grid;
    grid-template-rows: 100px 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-template-areas: 
    "nav"
    "feature"
    "img1"
    "feature2"
    "img2"
    "footer";
    height: 100vh;
    width: 100vw;
    background: red;

}
nav {
    grid-area: nav;
    background: black;
}
#feature1 {
    grid-area: feature;
    background: yellow;
}
#img1 {
    grid-area: img1;
    background:blue;
}
#feature2 {
    grid-area: feature2;
    background: purple;
}
#img2 {
    grid-area: img2;
    background:green;
}
footer {
    grid-area: footer;
    background:white;
}
@media screen and (min-width: 700px){
    body {
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-columns: 550px 600px;
      grid-template-areas: 
      "nav nav"
      "feature feature2"
      "img1 img2"
      "footer footer";
          
    }
    
}